*{
  font-family: 'IBM Plex Sans', sans-serif;
}
a{
    text-decoration: none;
  }

  .active a{
    color: black !important;
  }
  .navbar-all {
    background-color: #fff;
  
    .nav-item a {
      font-size: 13px;
      color: #061224e5;
      line-height: 24px;
    }
  
    .btn-1 {
      align-items: center;
      background-color: transparent;
      border: 1px solid;
      border-color: #1064e5;
      border-radius: 100px;
      box-sizing: border-box;
      color: black;
      cursor: pointer;
      display: inline-flex;
      font-size: 16px;
      font-weight: 500;
      justify-content: center;
      line-height: 20px;
      width: 100px;
      min-height: 40px;
    }
    .btn-1:hover{
      transition: 0.5s;
    background-color: #1064e5;
    color: #fff;
    }
   
    .btn-2 {
      align-items: center;
      background-color: #1064e5;
      border: 0;
      border-radius: 100px;
      box-sizing: border-box;
      color: #ffffff;
      cursor: pointer;
      display: inline-flex;
      font-size: 16px;
      font-weight: 500;
      justify-content: center;
      line-height: 20px;
      width: 180px;
      min-height: 40px;
    }
    .btn-2:hover{
      transition: 0.5s;
      color: #1064e5;
      background-color: #fff;
      border: 1px solid;
      border-color: #1064e5;
    }
  
    .select-one {
      border: 0;
      background-color: #fff;
    }
  }

@media (max-width:768px){
  .non-visible{
    display: none;
  }
}

.mail-form input:focus-visible{
  outline: none;
}

  